.checkIn {
  color: #3F51B5;
}
.data {
  color: #FF4081;
}
.insights {
  color: #4CAF50;
}
.decide {
  color: #7C4DFF;
}
.checkOut {
  color: #03A9F4;
}
// /deep/ .mat-ink-bar {
//   background-color: #FF4081 !important;
// }
