.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 30%;
  padding: 10px;
}

.mat-drawer {
  background-color: #fafafa;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
