<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" [class.mat-elevation-z6]="true">
      <span>Scrum Retro Planner</span>
      <span class="remaining-space"></span>
      <button type="button" mat-button routerLink="/">Intro</button>
      <button type="button" mat-button routerLink="/stepper">Activities</button>
      <button type="button" mat-button routerLink="/contribute">Contribute</button>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon" matBadge="{{activitySelectedCount > 0 ? activitySelectedCount : ''}}" matBadgeColor="accent">menu</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav #drawer
    class="sidenav"
    position="end"
    fixedInViewport="true"
    attr.role="dialog"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false">
  <app-sidebar-activity-list></app-sidebar-activity-list>
  </mat-sidenav>
</mat-sidenav-container>
