<section>
  <h1>Do you miss a activity? Submit it!</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Your Email" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Your name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Your Source URL">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</section>
